name: Ifzal-Test-Terraform

on:
  workflow_dispatch:
jobs:
  sql-s3-bucket-replication:
    uses: ./shared-deploy.yml
    with:
      environment: "dev"
      backend-config-location: "./BackendConfig/dev-backend-config.tfvars"
    secrets: inherit